-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Line" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "barangayId" TEXT NOT NULL,
    "municipalId" TEXT NOT NULL,
    "provinceId" TEXT NOT NULL,
    "regionId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" INTEGER NOT NULL DEFAULT 1,
    "adminProfileId" TEXT,
    "password" TEXT,

    CONSTRAINT "Line_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InvitationLink" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),
    "used" BOOLEAN NOT NULL DEFAULT false,
    "url" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "status" INTEGER NOT NULL DEFAULT 1,
    "message" TEXT,

    CONSTRAINT "InvitationLink_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Assets" (
    "id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "fileSize" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "suppliesId" TEXT,

    CONSTRAINT "Assets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProfilePicture" (
    "id" TEXT NOT NULL,
    "assetsId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProfilePicture_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryBox" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "departmentId" TEXT,

    CONSTRAINT "InventoryBox_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryInbox" (
    "id" TEXT NOT NULL,

    CONSTRAINT "InventoryInbox_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryInboxItems" (
    "id" TEXT NOT NULL,
    "view" BOOLEAN NOT NULL DEFAULT false,
    "type" INTEGER NOT NULL DEFAULT 0,
    "message" TEXT,
    "subject" TEXT,
    "path" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,

    CONSTRAINT "InventoryInboxItems_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContainerAllowedUser" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "inventoryBoxId" TEXT NOT NULL,
    "grantByUserId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ContainerAllowedUser_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryAccessLogs" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "inventoryBoxId" TEXT,
    "action" TEXT NOT NULL DEFAULT 'Viewed',
    "suppliesId" TEXT,
    "path" TEXT,

    CONSTRAINT "InventoryAccessLogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyIncharge" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "departmentId" TEXT NOT NULL,
    "userId" TEXT,

    CONSTRAINT "SupplyIncharge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Supplies" (
    "id" TEXT NOT NULL,
    "item" TEXT NOT NULL,
    "description" TEXT DEFAULT 'N/A',
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lineId" TEXT NOT NULL,
    "userId" TEXT,
    "condition" TEXT DEFAULT 'New',
    "status" TEXT DEFAULT 'Available',
    "price" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "suppliesCategoryId" TEXT,
    "suppliesQualityId" TEXT,
    "notifyAtStockOf" INTEGER NOT NULL DEFAULT 10,
    "suppliesDataSetId" TEXT,
    "code" SERIAL NOT NULL,
    "consumable" BOOLEAN NOT NULL DEFAULT true,
    "refNumber" TEXT,
    "supplierId" TEXT,
    "inventoryBoxId" TEXT,

    CONSTRAINT "Supplies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyBrand" (
    "id" TEXT NOT NULL,
    "suppliesId" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "brand" TEXT DEFAULT 'N/A',
    "model" TEXT DEFAULT 'N/A',
    "supplyStockTrackId" TEXT,

    CONSTRAINT "SupplyBrand_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyBatch" (
    "id" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "inventoryBoxId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "suppliesDataSetId" TEXT,

    CONSTRAINT "SupplyBatch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyBatchAccess" (
    "id" TEXT NOT NULL,
    "supplyBatchId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "privilege" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "SupplyBatchAccess_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyBatchItem" (
    "id" TEXT NOT NULL,
    "supplyBatchId" TEXT NOT NULL,
    "suppliesId" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SupplyBatchItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyBatchOrder" (
    "id" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT,
    "status" INTEGER NOT NULL DEFAULT 0,
    "lineId" TEXT,
    "inventoryBoxId" TEXT,
    "title" TEXT DEFAULT 'N/A',
    "refNumber" TEXT NOT NULL,
    "supplyBatchId" TEXT,
    "approvedAt" TIMESTAMP(3),
    "supplyInchargeId" TEXT,
    "comments" TEXT NOT NULL DEFAULT 'N/A',
    "remark" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "SupplyBatchOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Supplier" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,

    CONSTRAINT "Supplier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyOrderSupportFile" (
    "id" TEXT NOT NULL,
    "assetsId" TEXT NOT NULL,
    "supplyBatchOrderId" TEXT,

    CONSTRAINT "SupplyOrderSupportFile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyOrder" (
    "id" TEXT NOT NULL,
    "supplyBatchOrderId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Drafted',
    "suppliesId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "suppliesQualityId" TEXT NOT NULL,
    "subject" TEXT DEFAULT 'None',
    "refNumber" TEXT NOT NULL,
    "desc" TEXT DEFAULT 'None',
    "condition" TEXT DEFAULT 'New',
    "remark" INTEGER NOT NULL DEFAULT 1,
    "timestamp" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "comments" TEXT DEFAULT 'N/A',
    "price" DOUBLE PRECISION DEFAULT 0.0,
    "supplierId" TEXT,

    CONSTRAINT "SupplyOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyOrderStatus" (
    "id" TEXT NOT NULL,
    "phase" INTEGER NOT NULL DEFAULT 0,
    "supplyOrderId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,
    "desc" TEXT,

    CONSTRAINT "SupplyOrderStatus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyOrderReturn" (
    "id" TEXT NOT NULL,
    "supplyBatchOrderId" TEXT NOT NULL,
    "status" INTEGER NOT NULL DEFAULT 0,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "message" TEXT DEFAULT 'N/A',

    CONSTRAINT "SupplyOrderReturn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyOrderItemReturn" (
    "id" TEXT NOT NULL,
    "supplyOrderReturnId" TEXT,
    "supplyBrandId" TEXT,
    "suppliesId" TEXT,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "supplyOrderId" TEXT,

    CONSTRAINT "SupplyOrderItemReturn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SuppliesDataSet" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,
    "inventoryBoxId" TEXT NOT NULL,

    CONSTRAINT "SuppliesDataSet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SuppliesQuality" (
    "id" TEXT NOT NULL,
    "quality" TEXT NOT NULL,
    "perQuality" INTEGER NOT NULL DEFAULT 0,
    "suppliesDataSetId" TEXT,

    CONSTRAINT "SuppliesQuality_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyPriceTrack" (
    "id" TEXT NOT NULL,
    "value" INTEGER NOT NULL DEFAULT 0,
    "suppliesId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "supplyStockTrackId" TEXT,
    "period" TEXT NOT NULL DEFAULT '0:0',

    CONSTRAINT "SupplyPriceTrack_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyStockTrack" (
    "id" TEXT NOT NULL,
    "stock" INTEGER NOT NULL DEFAULT 0,
    "suppliesId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "inventoryBoxId" TEXT,
    "supplyBatchId" TEXT,
    "expiration" TIMESTAMP(3),
    "supplierId" TEXT,

    CONSTRAINT "SupplyStockTrack_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplyDispenseRecord" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "departmentId" TEXT,
    "quantity" TEXT NOT NULL DEFAULT '0',
    "supplyStockTrackId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "remarks" TEXT NOT NULL DEFAULT 'N/A',

    CONSTRAINT "SupplyDispenseRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SuppliesCategory" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SuppliesCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplieRecieveHistory" (
    "id" TEXT NOT NULL,
    "suppliesId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "quantity" INTEGER NOT NULL DEFAULT 0,
    "condition" TEXT DEFAULT 'New',

    CONSTRAINT "SupplieRecieveHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TransferredSupplies" (
    "id" TEXT NOT NULL,
    "suppliesId" TEXT,
    "userId" TEXT NOT NULL,
    "transferredToId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "condition" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "TransferredSupplies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SuppliesRecord" (
    "id" TEXT NOT NULL,
    "suppliesId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "description" TEXT,
    "modifiedId" TEXT,
    "status" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "SuppliesRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MessageTemplate" (
    "id" TEXT NOT NULL,
    "module" INTEGER NOT NULL,
    "platform" TEXT,
    "message" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "link" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,
    "messageIv" TEXT,
    "subjectIv" TEXT NOT NULL,

    CONSTRAINT "MessageTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MessageLogs" (
    "id" TEXT NOT NULL,
    "ref" TEXT,
    "number" TEXT NOT NULL,
    "content" TEXT,
    "timestamp" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "messageTemplateId" TEXT NOT NULL,
    "status" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "MessageLogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Application" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "jobPostId" TEXT,
    "lineId" TEXT NOT NULL,

    CONSTRAINT "Application_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubmittedApplication" (
    "id" TEXT NOT NULL,
    "lastname" TEXT NOT NULL,
    "firstname" TEXT NOT NULL,
    "middleName" TEXT DEFAULT 'N/A',
    "suffix" TEXT DEFAULT 'N/A',
    "birthDate" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "gender" TEXT NOT NULL,
    "filipino" BOOLEAN NOT NULL,
    "dualCitizen" BOOLEAN NOT NULL,
    "byBirth" BOOLEAN NOT NULL,
    "byNatural" BOOLEAN NOT NULL,
    "cvilStatus" TEXT NOT NULL,
    "reshouseBlock" TEXT DEFAULT 'N/A',
    "resStreet" TEXT DEFAULT 'N/A',
    "resSub" TEXT DEFAULT 'N/A',
    "resBarangay" TEXT NOT NULL,
    "resCity" TEXT NOT NULL,
    "resProvince" TEXT NOT NULL,
    "resZipCode" TEXT NOT NULL,
    "permahouseBlock" TEXT DEFAULT 'N/A',
    "permaStreet" TEXT DEFAULT 'N/A',
    "permaSub" TEXT DEFAULT 'N/A',
    "permaBarangay" TEXT NOT NULL,
    "permaCity" TEXT NOT NULL,
    "permaProvince" TEXT NOT NULL,
    "permaZipCode" TEXT NOT NULL,
    "teleNo" TEXT NOT NULL,
    "mobileNo" TEXT NOT NULL,
    "height" DOUBLE PRECISION NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL,
    "bloodType" TEXT DEFAULT 'N/A',
    "umidNo" TEXT DEFAULT 'N/A',
    "pagIbigNo" TEXT DEFAULT 'N/A',
    "philHealthNo" TEXT DEFAULT 'N/A',
    "philSys" TEXT DEFAULT 'N/A',
    "tinNo" TEXT DEFAULT 'N/A',
    "agencyNo" TEXT DEFAULT 'N/A',
    "spouseSurname" TEXT DEFAULT 'N/A',
    "spouseFirstname" TEXT DEFAULT 'N/A',
    "spouseMiddle" TEXT DEFAULT 'N/A',
    "spouseBusinessAddress" TEXT DEFAULT 'N/A',
    "spouseTelephone" TEXT DEFAULT 'N/A',
    "fatherSurname" TEXT DEFAULT 'N/A',
    "fatherFirstname" TEXT DEFAULT 'N/A',
    "fatherMiddlename" TEXT DEFAULT 'N/A',
    "fatherOccupation" TEXT DEFAULT 'N/A',
    "fatherAge" INTEGER NOT NULL,
    "fatherBirthday" TIMESTAMP(3),
    "fatherSuffix" TEXT DEFAULT 'N/A',
    "motherSurname" TEXT DEFAULT 'N/A',
    "motherFirstname" TEXT DEFAULT 'N/A',
    "motherMiddlename" TEXT DEFAULT 'N/A',
    "motherOccupation" TEXT DEFAULT 'N/A',
    "motherAge" INTEGER NOT NULL,
    "motherBirthday" TIMESTAMP(3),
    "children" TEXT NOT NULL,
    "elementary" JSONB,
    "secondary" JSONB,
    "vocational" JSONB,
    "college" JSONB,
    "graduateCollege" JSONB,
    "civilService" JSONB[],
    "experience" JSONB[],
    "voluntaryWork" JSONB[],
    "learningDev" JSONB[],
    "otherInfo" JSONB[],
    "references" JSONB[],
    "govId" JSONB NOT NULL,
    "status" INTEGER NOT NULL DEFAULT 0,
    "lineId" TEXT NOT NULL,
    "applicationProfilePicId" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "batch" TIMESTAMP(3) NOT NULL,
    "positionId" TEXT,
    "agencyNoIv" TEXT,
    "bdayIv" TEXT,
    "cvilStatusIv" TEXT,
    "emailIv" TEXT,
    "fatherFirstnameIv" TEXT,
    "fatherMiddlenameIv" TEXT,
    "fatherOccupationIv" TEXT,
    "fatherSurnameIv" TEXT,
    "firsntameIv" TEXT NOT NULL,
    "govIdIv" TEXT,
    "ivMobileNo" TEXT NOT NULL,
    "lastnameIv" TEXT NOT NULL,
    "middleNameIv" TEXT,
    "motherFirstnameIv" TEXT,
    "motherMiddlenameIv" TEXT,
    "motherSurnameIv" TEXT,
    "pagIbigNoIv" TEXT,
    "permaBarangayIv" TEXT,
    "permaCityIv" TEXT,
    "permaProvinceIv" TEXT,
    "permaStreetIv" TEXT,
    "permaSubIv" TEXT,
    "permaZipCodeIv" TEXT,
    "permahouseBlockIv" TEXT,
    "philHealthNoIv" TEXT,
    "philSysIv" TEXT,
    "resBarangayIv" TEXT,
    "resCityIv" TEXT,
    "resProvinceIv" TEXT,
    "resStreetIv" TEXT,
    "resZipCodeIv" TEXT,
    "reshouseBlockIv" TEXT,
    "tinNoIv" TEXT,
    "umidNoIv" TEXT,
    "childrenIv" TEXT,
    "dualCitizenHalf" TEXT NOT NULL,
    "spouseFirstnameIv" TEXT,
    "spouseMiddleIv" TEXT,
    "spouseSurnameIv" TEXT,

    CONSTRAINT "SubmittedApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationSkillTags" (
    "id" TEXT NOT NULL,
    "tags" TEXT,
    "submittedApplicationId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApplicationSkillTags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationAttachedFile" (
    "id" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_type" INTEGER NOT NULL,
    "file_size" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submittedApplicationId" TEXT,
    "file_url_Iv" TEXT NOT NULL,

    CONSTRAINT "ApplicationAttachedFile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationProfilePic" (
    "id" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_type" INTEGER NOT NULL,
    "file_size" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "file_url_Iv" TEXT,

    CONSTRAINT "ApplicationProfilePic_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationConvoAsset" (
    "id" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_type" INTEGER NOT NULL,
    "file_size" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "applicationConversationId" TEXT,

    CONSTRAINT "ApplicationConvoAsset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationResponseAsset" (
    "id" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_type" INTEGER NOT NULL,
    "file_size" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "applicationResponseId" TEXT,

    CONSTRAINT "ApplicationResponseAsset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationResponse" (
    "id" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "timestmap" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submittedApplicationId" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "messageIv" TEXT,
    "titleIv" TEXT,

    CONSTRAINT "ApplicationResponse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationConversation" (
    "id" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "fromHr" BOOLEAN NOT NULL DEFAULT true,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT,
    "submittedApplicationId" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "messageIv" TEXT NOT NULL,

    CONSTRAINT "ApplicationConversation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Department" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "headId" TEXT,
    "idCode" TEXT DEFAULT 'N/A',
    "lineId" TEXT,
    "email" TEXT,

    CONSTRAINT "Department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Group" (
    "id" TEXT NOT NULL,
    "departmentId" TEXT NOT NULL,
    "name" TEXT DEFAULT 'N/A',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT,
    "userId" TEXT,

    CONSTRAINT "Group_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Admin" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminProfile" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,

    CONSTRAINT "AdminProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "role" TEXT NOT NULL DEFAULT 'user',
    "status" INTEGER NOT NULL DEFAULT 1,
    "lineId" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Privilege" (
    "id" TEXT NOT NULL,
    "humanResources" BOOLEAN NOT NULL DEFAULT false,
    "inventory" BOOLEAN NOT NULL DEFAULT false,
    "super" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Privilege_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "birthDate" TIMESTAMP(3),
    "departmentId" TEXT,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "level" INTEGER NOT NULL DEFAULT 1,
    "middleName" TEXT,
    "positionId" TEXT,
    "salaryGradeId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Regular',
    "suffix" TEXT,
    "username" TEXT NOT NULL,
    "accountId" TEXT,
    "barangayId" TEXT,
    "municipalId" TEXT,
    "provinceId" TEXT,
    "regionId" TEXT,
    "step" INTEGER NOT NULL DEFAULT 1,
    "type" TEXT NOT NULL DEFAULT 'M',
    "lineId" TEXT,
    "gender" TEXT DEFAULT '--/--',
    "profilePicture" TEXT,
    "privilegeId" TEXT,
    "groupId" TEXT,
    "term" TIMESTAMP(3),
    "emailIv" TEXT,
    "phoneNumber" TEXT,
    "phoneNumberIv" TEXT,
    "statusIV" TEXT,
    "usernameIv" TEXT,
    "firstNameIv" TEXT,
    "lastNameIv" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalaryTransactionRecord" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "periodIv" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "value" TEXT NOT NULL,
    "valueIv" TEXT NOT NULL,

    CONSTRAINT "SalaryTransactionRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LogRecord" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LogRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "recipientId" TEXT NOT NULL,
    "senderId" TEXT NOT NULL,
    "path" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Position" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "itemNumber" TEXT,
    "max" INTEGER NOT NULL DEFAULT 0,
    "plantilla" BOOLEAN NOT NULL DEFAULT false,
    "salaryGradeId" TEXT,
    "departmentId" TEXT,
    "lineId" TEXT,
    "fixToUnit" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Position_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UnitPosition" (
    "id" TEXT NOT NULL,
    "departmentId" TEXT NOT NULL,
    "positionId" TEXT NOT NULL,
    "designation" TEXT DEFAULT 'N/A',
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,
    "fixToUnit" BOOLEAN NOT NULL DEFAULT false,
    "itemNumber" TEXT DEFAULT 'N/A',
    "plantilla" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "UnitPosition_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PositionSlot" (
    "id" TEXT NOT NULL,
    "positionId" TEXT,
    "salaryGradeId" TEXT,
    "userId" TEXT,
    "occupied" BOOLEAN NOT NULL DEFAULT false,
    "unitPositionId" TEXT,
    "designation" TEXT DEFAULT 'N/A',

    CONSTRAINT "PositionSlot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalaryGrade" (
    "id" TEXT NOT NULL,
    "grade" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT,

    CONSTRAINT "SalaryGrade_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HumanResourcesLogs" (
    "id" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "desc" TEXT NOT NULL DEFAULT 'N/A',
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tab" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "HumanResourcesLogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalaryGradeHistory" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "salaryGradeId" TEXT NOT NULL,
    "effectiveDate" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "amount" INTEGER NOT NULL,

    CONSTRAINT "SalaryGradeHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Leave" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "reason" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Leave_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Announcement" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "authorId" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "departmentId" TEXT,
    "important" BOOLEAN NOT NULL DEFAULT true,
    "path" TEXT,

    CONSTRAINT "Announcement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Promotion" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "positionId" TEXT NOT NULL,

    CONSTRAINT "Promotion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BirthdayNoticeResponse" (
    "id" TEXT NOT NULL,
    "message" TEXT,
    "like" BOOLEAN NOT NULL DEFAULT false,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "senderId" TEXT NOT NULL,
    "recipientId" TEXT,
    "lineId" TEXT NOT NULL,

    CONSTRAINT "BirthdayNoticeResponse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Region" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Region_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Province" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "regionId" TEXT,

    CONSTRAINT "Province_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Municipal" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "provinceId" TEXT,

    CONSTRAINT "Municipal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Barangay" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "municipalId" TEXT,

    CONSTRAINT "Barangay_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Accomplishment" (
    "id" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT,
    "start" TIMESTAMP(3) NOT NULL,
    "end" TIMESTAMP(3) NOT NULL,
    "task" TEXT NOT NULL,

    CONSTRAINT "Accomplishment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AccomplishmentResponse" (
    "id" TEXT NOT NULL,
    "headId" TEXT NOT NULL,
    "accomplishmentId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AccomplishmentResponse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserKeyPair" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "publicKey" TEXT NOT NULL,
    "privateKey" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserKeyPair_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Signature" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "defalt" BOOLEAN NOT NULL DEFAULT false,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,

    CONSTRAINT "Signature_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SignatureAudit" (
    "id" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "auditedId" TEXT DEFAULT '',
    "signatureQueueRoomId" TEXT NOT NULL,

    CONSTRAINT "SignatureAudit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SignatureQueueRoom" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "departmentId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SignatureQueueRoom_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SignatureQueueRoomApprover" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "timestamp" TEXT NOT NULL,
    "signatureQueueRoomId" TEXT,

    CONSTRAINT "SignatureQueueRoomApprover_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SignatureCoor" (
    "id" TEXT NOT NULL,
    "xAxis" INTEGER NOT NULL,
    "yAxis" INTEGER NOT NULL,
    "width" INTEGER NOT NULL,
    "height" INTEGER NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "signatureRequestId" TEXT,

    CONSTRAINT "SignatureCoor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SignatureRecord" (
    "id" TEXT NOT NULL,
    "signatureRequestId" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "signature" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SignatureRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SignatureRequest" (
    "id" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "desc" TEXT DEFAULT 'N/A',
    "size" TEXT NOT NULL DEFAULT 'A4',
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fromUserId" TEXT,
    "toUserId" TEXT,
    "status" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "SignatureRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SignatureFile" (
    "id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileSize" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "signatureRequestId" TEXT NOT NULL,

    CONSTRAINT "SignatureFile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminModule" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AdminModule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminInbox" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "path" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "userId" TEXT NOT NULL,

    CONSTRAINT "AdminInbox_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Test" (
    "id" TEXT NOT NULL,
    "test" BYTEA NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "encrypt" BYTEA NOT NULL,

    CONSTRAINT "Test_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineStorage" (
    "id" TEXT NOT NULL,
    "refNumber" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "desc" TEXT NOT NULL,
    "timestamp" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "departmentId" TEXT NOT NULL,
    "status" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "MedicineStorage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineNotification" (
    "id" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,
    "departmentId" TEXT,
    "path" TEXT,
    "phase" INTEGER NOT NULL DEFAULT 1,
    "view" INTEGER NOT NULL DEFAULT 0,
    "lineId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "type" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "MedicineNotification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineStorageAccess" (
    "id" TEXT NOT NULL,
    "medicineStorageId" TEXT NOT NULL,
    "previlege" INTEGER NOT NULL DEFAULT 0,
    "userId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MedicineStorageAccess_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineLogs" (
    "id" TEXT NOT NULL,
    "action" INTEGER NOT NULL DEFAULT 0,
    "message" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,
    "lineId" TEXT,

    CONSTRAINT "MedicineLogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Medicine" (
    "id" TEXT NOT NULL,
    "serialNumber" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "desc" TEXT DEFAULT 'None',
    "phase" INTEGER NOT NULL DEFAULT 0,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,

    CONSTRAINT "Medicine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineTransaction" (
    "id" TEXT NOT NULL,
    "prescriptionId" TEXT,
    "quantity" INTEGER NOT NULL,
    "unit" TEXT NOT NULL,
    "remark" INTEGER NOT NULL DEFAULT 0,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT,
    "medicineStorageId" TEXT,
    "lineId" TEXT NOT NULL,

    CONSTRAINT "MedicineTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineTransactionItem" (
    "id" TEXT NOT NULL,
    "medicineTransactionId" TEXT NOT NULL,
    "precribeMedicineId" TEXT,
    "prescribeQuantity" INTEGER NOT NULL DEFAULT 0,
    "releasedQuantity" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "MedicineTransactionItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineQuality" (
    "id" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "unit" TEXT NOT NULL DEFAULT 'pcs',
    "perUnit" INTEGER NOT NULL DEFAULT 1,
    "medicineStockId" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MedicineQuality_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineStock" (
    "id" TEXT NOT NULL,
    "medicineId" TEXT NOT NULL,
    "quarter" INTEGER NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiration" TIMESTAMP(3),
    "medicineStorageId" TEXT,
    "lineId" TEXT NOT NULL,
    "actualStock" INTEGER NOT NULL DEFAULT 0,
    "threshold" INTEGER NOT NULL DEFAULT 5,

    CONSTRAINT "MedicineStock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineTrack" (
    "id" TEXT NOT NULL,
    "medicineId" TEXT NOT NULL,
    "stock" INTEGER NOT NULL DEFAULT 0,
    "quarter" INTEGER NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MedicineTrack_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicineHistory" (
    "id" TEXT NOT NULL,
    "medicineId" TEXT NOT NULL,
    "action" INTEGER NOT NULL DEFAULT 0,
    "stock" INTEGER NOT NULL DEFAULT 0,
    "message" TEXT NOT NULL DEFAULT 'N/A',
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MedicineHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicinePriceTrack" (
    "id" TEXT NOT NULL,
    "value" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "medicineStockId" TEXT,

    CONSTRAINT "MedicinePriceTrack_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Prescription" (
    "id" TEXT NOT NULL,
    "refNumber" TEXT NOT NULL,
    "condtion" TEXT,
    "firstname" TEXT,
    "lastname" TEXT,
    "street" TEXT,
    "barangayId" TEXT,
    "municipalId" TEXT,
    "provinceId" TEXT,
    "userId" TEXT NOT NULL,
    "respondedByUserId" TEXT,
    "status" INTEGER NOT NULL DEFAULT 0,
    "remark" INTEGER NOT NULL DEFAULT 0,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,
    "age" TEXT NOT NULL DEFAULT 'N/A',

    CONSTRAINT "Prescription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrescriptionAsset" (
    "id" TEXT NOT NULL,
    "refNumber" TEXT,
    "remark" INTEGER NOT NULL DEFAULT 0,
    "prescriptionId" TEXT NOT NULL,
    "file_url" TEXT,
    "file_size" TEXT,
    "file_type" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PrescriptionAsset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrescriptionProgress" (
    "id" TEXT NOT NULL,
    "step" INTEGER NOT NULL DEFAULT 0,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "prescriptionId" TEXT,
    "comment" TEXT,

    CONSTRAINT "PrescriptionProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrescriptionComment" (
    "id" TEXT NOT NULL,
    "status" INTEGER NOT NULL DEFAULT 0,
    "prescriberId" TEXT NOT NULL,
    "message" TEXT,
    "prescriptionId" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,

    CONSTRAINT "PrescriptionComment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrescriptionCommentAssets" (
    "id" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_type" INTEGER NOT NULL,
    "file_size" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "prescriptionCommentId" TEXT,

    CONSTRAINT "PrescriptionCommentAssets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrecribeMedicine" (
    "id" TEXT NOT NULL,
    "medicineId" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "desc" TEXT,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "prescriptionId" TEXT,
    "remark" TEXT NOT NULL DEFAULT 'Pending',
    "comments" TEXT,
    "releaseQuantity" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "PrecribeMedicine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PrescriptionMedicine" (
    "id" TEXT NOT NULL,

    CONSTRAINT "PrescriptionMedicine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JobPost" (
    "id" TEXT NOT NULL,
    "salaryGradeId" TEXT,
    "hideSG" BOOLEAN NOT NULL DEFAULT false,
    "slot" INTEGER NOT NULL,
    "showApplicationCount" BOOLEAN NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "positionId" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "desc" TEXT DEFAULT 'N/A',
    "status" INTEGER NOT NULL,
    "updateAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT,

    CONSTRAINT "JobPost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JobPostRequirements" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "desc" TEXT,
    "jobPostId" TEXT,

    CONSTRAINT "JobPostRequirements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JobPostAssets" (
    "id" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "fileSize" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileUrl" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "jobPostRequirementsId" TEXT,
    "filePublicId" TEXT NOT NULL,

    CONSTRAINT "JobPostAssets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationInquiry" (
    "id" TEXT NOT NULL,
    "jobPostId" TEXT NOT NULL,

    CONSTRAINT "ApplicationInquiry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LineGeneralAssets" (
    "id" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_size" TEXT NOT NULL,
    "file_type" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lineId" TEXT NOT NULL,

    CONSTRAINT "LineGeneralAssets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OtpVerification" (
    "code" INTEGER NOT NULL,
    "status" INTEGER NOT NULL DEFAULT 0,
    "dateUsed" TIMESTAMP(3),
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submittedApplicationId" TEXT,

    CONSTRAINT "OtpVerification_pkey" PRIMARY KEY ("code")
);

-- CreateIndex
CREATE UNIQUE INDEX "Line_name_key" ON "Line"("name");

-- CreateIndex
CREATE UNIQUE INDEX "InvitationLink_code_key" ON "InvitationLink"("code");

-- CreateIndex
CREATE UNIQUE INDEX "ProfilePicture_userId_key" ON "ProfilePicture"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "InventoryBox_name_key" ON "InventoryBox"("name");

-- CreateIndex
CREATE UNIQUE INDEX "InventoryBox_code_key" ON "InventoryBox"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Supplies_code_key" ON "Supplies"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Supplies_refNumber_key" ON "Supplies"("refNumber");

-- CreateIndex
CREATE UNIQUE INDEX "SupplyBatchItem_suppliesId_key" ON "SupplyBatchItem"("suppliesId");

-- CreateIndex
CREATE UNIQUE INDEX "SupplyBatchOrder_refNumber_key" ON "SupplyBatchOrder"("refNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Supplier_name_key" ON "Supplier"("name");

-- CreateIndex
CREATE UNIQUE INDEX "SupplyOrder_refNumber_key" ON "SupplyOrder"("refNumber");

-- CreateIndex
CREATE UNIQUE INDEX "SupplyOrder_supplierId_key" ON "SupplyOrder"("supplierId");

-- CreateIndex
CREATE UNIQUE INDEX "SupplyOrderItemReturn_supplyOrderId_key" ON "SupplyOrderItemReturn"("supplyOrderId");

-- CreateIndex
CREATE UNIQUE INDEX "SuppliesDataSet_title_key" ON "SuppliesDataSet"("title");

-- CreateIndex
CREATE UNIQUE INDEX "SuppliesQuality_quality_key" ON "SuppliesQuality"("quality");

-- CreateIndex
CREATE UNIQUE INDEX "SuppliesCategory_name_key" ON "SuppliesCategory"("name");

-- CreateIndex
CREATE UNIQUE INDEX "SuppliesRecord_modifiedId_key" ON "SuppliesRecord"("modifiedId");

-- CreateIndex
CREATE UNIQUE INDEX "SubmittedApplication_applicationProfilePicId_key" ON "SubmittedApplication"("applicationProfilePicId");

-- CreateIndex
CREATE UNIQUE INDEX "Department_name_key" ON "Department"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Department_headId_key" ON "Department"("headId");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_accountId_key" ON "User"("accountId");

-- CreateIndex
CREATE UNIQUE INDEX "User_privilegeId_key" ON "User"("privilegeId");

-- CreateIndex
CREATE INDEX "department_idx" ON "User"("departmentId");

-- CreateIndex
CREATE INDEX "User_firstName_lastName_idx" ON "User"("firstName", "lastName");

-- CreateIndex
CREATE UNIQUE INDEX "Position_name_key" ON "Position"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Position_itemNumber_key" ON "Position"("itemNumber");

-- CreateIndex
CREATE UNIQUE INDEX "PositionSlot_userId_key" ON "PositionSlot"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserKeyPair_userId_key" ON "UserKeyPair"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "MedicineStorage_refNumber_key" ON "MedicineStorage"("refNumber");

-- CreateIndex
CREATE UNIQUE INDEX "MedicineTransactionItem_precribeMedicineId_key" ON "MedicineTransactionItem"("precribeMedicineId");

-- CreateIndex
CREATE UNIQUE INDEX "MedicineQuality_medicineStockId_key" ON "MedicineQuality"("medicineStockId");

-- CreateIndex
CREATE UNIQUE INDEX "OtpVerification_code_key" ON "OtpVerification"("code");

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_adminProfileId_fkey" FOREIGN KEY ("adminProfileId") REFERENCES "AdminProfile"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_barangayId_fkey" FOREIGN KEY ("barangayId") REFERENCES "Barangay"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_municipalId_fkey" FOREIGN KEY ("municipalId") REFERENCES "Municipal"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_provinceId_fkey" FOREIGN KEY ("provinceId") REFERENCES "Province"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Line" ADD CONSTRAINT "Line_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "Region"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InvitationLink" ADD CONSTRAINT "InvitationLink_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Assets" ADD CONSTRAINT "Assets_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProfilePicture" ADD CONSTRAINT "ProfilePicture_assetsId_fkey" FOREIGN KEY ("assetsId") REFERENCES "Assets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProfilePicture" ADD CONSTRAINT "ProfilePicture_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryBox" ADD CONSTRAINT "InventoryBox_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryBox" ADD CONSTRAINT "InventoryBox_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryBox" ADD CONSTRAINT "InventoryBox_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryInboxItems" ADD CONSTRAINT "InventoryInboxItems_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContainerAllowedUser" ADD CONSTRAINT "ContainerAllowedUser_grantByUserId_fkey" FOREIGN KEY ("grantByUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContainerAllowedUser" ADD CONSTRAINT "ContainerAllowedUser_inventoryBoxId_fkey" FOREIGN KEY ("inventoryBoxId") REFERENCES "InventoryBox"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContainerAllowedUser" ADD CONSTRAINT "ContainerAllowedUser_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryAccessLogs" ADD CONSTRAINT "InventoryAccessLogs_inventoryBoxId_fkey" FOREIGN KEY ("inventoryBoxId") REFERENCES "InventoryBox"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryAccessLogs" ADD CONSTRAINT "InventoryAccessLogs_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryAccessLogs" ADD CONSTRAINT "InventoryAccessLogs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyIncharge" ADD CONSTRAINT "SupplyIncharge_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyIncharge" ADD CONSTRAINT "SupplyIncharge_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplies" ADD CONSTRAINT "Supplies_inventoryBoxId_fkey" FOREIGN KEY ("inventoryBoxId") REFERENCES "InventoryBox"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplies" ADD CONSTRAINT "Supplies_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplies" ADD CONSTRAINT "Supplies_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplies" ADD CONSTRAINT "Supplies_suppliesCategoryId_fkey" FOREIGN KEY ("suppliesCategoryId") REFERENCES "SuppliesCategory"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplies" ADD CONSTRAINT "Supplies_suppliesDataSetId_fkey" FOREIGN KEY ("suppliesDataSetId") REFERENCES "SuppliesDataSet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplies" ADD CONSTRAINT "Supplies_suppliesQualityId_fkey" FOREIGN KEY ("suppliesQualityId") REFERENCES "SuppliesQuality"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplies" ADD CONSTRAINT "Supplies_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBrand" ADD CONSTRAINT "SupplyBrand_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBrand" ADD CONSTRAINT "SupplyBrand_supplyStockTrackId_fkey" FOREIGN KEY ("supplyStockTrackId") REFERENCES "SupplyStockTrack"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatch" ADD CONSTRAINT "SupplyBatch_inventoryBoxId_fkey" FOREIGN KEY ("inventoryBoxId") REFERENCES "InventoryBox"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatch" ADD CONSTRAINT "SupplyBatch_suppliesDataSetId_fkey" FOREIGN KEY ("suppliesDataSetId") REFERENCES "SuppliesDataSet"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchAccess" ADD CONSTRAINT "SupplyBatchAccess_supplyBatchId_fkey" FOREIGN KEY ("supplyBatchId") REFERENCES "SupplyBatch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchAccess" ADD CONSTRAINT "SupplyBatchAccess_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchItem" ADD CONSTRAINT "SupplyBatchItem_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchItem" ADD CONSTRAINT "SupplyBatchItem_supplyBatchId_fkey" FOREIGN KEY ("supplyBatchId") REFERENCES "SupplyBatch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchOrder" ADD CONSTRAINT "SupplyBatchOrder_inventoryBoxId_fkey" FOREIGN KEY ("inventoryBoxId") REFERENCES "InventoryBox"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchOrder" ADD CONSTRAINT "SupplyBatchOrder_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchOrder" ADD CONSTRAINT "SupplyBatchOrder_supplyBatchId_fkey" FOREIGN KEY ("supplyBatchId") REFERENCES "SupplyBatch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchOrder" ADD CONSTRAINT "SupplyBatchOrder_supplyInchargeId_fkey" FOREIGN KEY ("supplyInchargeId") REFERENCES "SupplyIncharge"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyBatchOrder" ADD CONSTRAINT "SupplyBatchOrder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplier" ADD CONSTRAINT "Supplier_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderSupportFile" ADD CONSTRAINT "SupplyOrderSupportFile_assetsId_fkey" FOREIGN KEY ("assetsId") REFERENCES "Assets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderSupportFile" ADD CONSTRAINT "SupplyOrderSupportFile_supplyBatchOrderId_fkey" FOREIGN KEY ("supplyBatchOrderId") REFERENCES "SupplyBatchOrder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrder" ADD CONSTRAINT "SupplyOrder_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrder" ADD CONSTRAINT "SupplyOrder_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrder" ADD CONSTRAINT "SupplyOrder_suppliesQualityId_fkey" FOREIGN KEY ("suppliesQualityId") REFERENCES "SuppliesQuality"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrder" ADD CONSTRAINT "SupplyOrder_supplyBatchOrderId_fkey" FOREIGN KEY ("supplyBatchOrderId") REFERENCES "SupplyBatchOrder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderStatus" ADD CONSTRAINT "SupplyOrderStatus_supplyOrderId_fkey" FOREIGN KEY ("supplyOrderId") REFERENCES "SupplyOrder"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderStatus" ADD CONSTRAINT "SupplyOrderStatus_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderReturn" ADD CONSTRAINT "SupplyOrderReturn_supplyBatchOrderId_fkey" FOREIGN KEY ("supplyBatchOrderId") REFERENCES "SupplyBatchOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderItemReturn" ADD CONSTRAINT "SupplyOrderItemReturn_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderItemReturn" ADD CONSTRAINT "SupplyOrderItemReturn_supplyBrandId_fkey" FOREIGN KEY ("supplyBrandId") REFERENCES "SupplyBrand"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderItemReturn" ADD CONSTRAINT "SupplyOrderItemReturn_supplyOrderId_fkey" FOREIGN KEY ("supplyOrderId") REFERENCES "SupplyOrder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyOrderItemReturn" ADD CONSTRAINT "SupplyOrderItemReturn_supplyOrderReturnId_fkey" FOREIGN KEY ("supplyOrderReturnId") REFERENCES "SupplyOrderReturn"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SuppliesDataSet" ADD CONSTRAINT "SuppliesDataSet_inventoryBoxId_fkey" FOREIGN KEY ("inventoryBoxId") REFERENCES "InventoryBox"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SuppliesDataSet" ADD CONSTRAINT "SuppliesDataSet_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SuppliesQuality" ADD CONSTRAINT "SuppliesQuality_suppliesDataSetId_fkey" FOREIGN KEY ("suppliesDataSetId") REFERENCES "SuppliesDataSet"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyPriceTrack" ADD CONSTRAINT "SupplyPriceTrack_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyPriceTrack" ADD CONSTRAINT "SupplyPriceTrack_supplyStockTrackId_fkey" FOREIGN KEY ("supplyStockTrackId") REFERENCES "SupplyStockTrack"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyStockTrack" ADD CONSTRAINT "SupplyStockTrack_inventoryBoxId_fkey" FOREIGN KEY ("inventoryBoxId") REFERENCES "InventoryBox"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyStockTrack" ADD CONSTRAINT "SupplyStockTrack_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyStockTrack" ADD CONSTRAINT "SupplyStockTrack_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyStockTrack" ADD CONSTRAINT "SupplyStockTrack_supplyBatchId_fkey" FOREIGN KEY ("supplyBatchId") REFERENCES "SupplyBatch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyDispenseRecord" ADD CONSTRAINT "SupplyDispenseRecord_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyDispenseRecord" ADD CONSTRAINT "SupplyDispenseRecord_supplyStockTrackId_fkey" FOREIGN KEY ("supplyStockTrackId") REFERENCES "SupplyStockTrack"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplyDispenseRecord" ADD CONSTRAINT "SupplyDispenseRecord_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplieRecieveHistory" ADD CONSTRAINT "SupplieRecieveHistory_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TransferredSupplies" ADD CONSTRAINT "TransferredSupplies_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TransferredSupplies" ADD CONSTRAINT "TransferredSupplies_transferredToId_fkey" FOREIGN KEY ("transferredToId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TransferredSupplies" ADD CONSTRAINT "TransferredSupplies_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SuppliesRecord" ADD CONSTRAINT "SuppliesRecord_modifiedId_fkey" FOREIGN KEY ("modifiedId") REFERENCES "Supplies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SuppliesRecord" ADD CONSTRAINT "SuppliesRecord_suppliesId_fkey" FOREIGN KEY ("suppliesId") REFERENCES "Supplies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SuppliesRecord" ADD CONSTRAINT "SuppliesRecord_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MessageTemplate" ADD CONSTRAINT "MessageTemplate_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MessageLogs" ADD CONSTRAINT "MessageLogs_messageTemplateId_fkey" FOREIGN KEY ("messageTemplateId") REFERENCES "MessageTemplate"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Application" ADD CONSTRAINT "Application_jobPostId_fkey" FOREIGN KEY ("jobPostId") REFERENCES "JobPost"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Application" ADD CONSTRAINT "Application_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Application" ADD CONSTRAINT "Application_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmittedApplication" ADD CONSTRAINT "SubmittedApplication_applicationProfilePicId_fkey" FOREIGN KEY ("applicationProfilePicId") REFERENCES "ApplicationProfilePic"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmittedApplication" ADD CONSTRAINT "SubmittedApplication_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmittedApplication" ADD CONSTRAINT "SubmittedApplication_positionId_fkey" FOREIGN KEY ("positionId") REFERENCES "Position"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationSkillTags" ADD CONSTRAINT "ApplicationSkillTags_submittedApplicationId_fkey" FOREIGN KEY ("submittedApplicationId") REFERENCES "SubmittedApplication"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationAttachedFile" ADD CONSTRAINT "ApplicationAttachedFile_submittedApplicationId_fkey" FOREIGN KEY ("submittedApplicationId") REFERENCES "SubmittedApplication"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationConvoAsset" ADD CONSTRAINT "ApplicationConvoAsset_applicationConversationId_fkey" FOREIGN KEY ("applicationConversationId") REFERENCES "ApplicationConversation"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationResponseAsset" ADD CONSTRAINT "ApplicationResponseAsset_applicationResponseId_fkey" FOREIGN KEY ("applicationResponseId") REFERENCES "ApplicationResponse"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationResponse" ADD CONSTRAINT "ApplicationResponse_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationResponse" ADD CONSTRAINT "ApplicationResponse_submittedApplicationId_fkey" FOREIGN KEY ("submittedApplicationId") REFERENCES "SubmittedApplication"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationResponse" ADD CONSTRAINT "ApplicationResponse_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationConversation" ADD CONSTRAINT "ApplicationConversation_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationConversation" ADD CONSTRAINT "ApplicationConversation_submittedApplicationId_fkey" FOREIGN KEY ("submittedApplicationId") REFERENCES "SubmittedApplication"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationConversation" ADD CONSTRAINT "ApplicationConversation_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Department" ADD CONSTRAINT "Department_headId_fkey" FOREIGN KEY ("headId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Department" ADD CONSTRAINT "Department_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Group" ADD CONSTRAINT "Group_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Group" ADD CONSTRAINT "Group_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Group" ADD CONSTRAINT "Group_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES "Account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_barangayId_fkey" FOREIGN KEY ("barangayId") REFERENCES "Barangay"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES "Group"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_municipalId_fkey" FOREIGN KEY ("municipalId") REFERENCES "Municipal"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_positionId_fkey" FOREIGN KEY ("positionId") REFERENCES "Position"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_privilegeId_fkey" FOREIGN KEY ("privilegeId") REFERENCES "Privilege"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_provinceId_fkey" FOREIGN KEY ("provinceId") REFERENCES "Province"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "Region"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_salaryGradeId_fkey" FOREIGN KEY ("salaryGradeId") REFERENCES "SalaryGrade"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalaryTransactionRecord" ADD CONSTRAINT "SalaryTransactionRecord_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogRecord" ADD CONSTRAINT "LogRecord_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Position" ADD CONSTRAINT "Position_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Position" ADD CONSTRAINT "Position_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Position" ADD CONSTRAINT "Position_salaryGradeId_fkey" FOREIGN KEY ("salaryGradeId") REFERENCES "SalaryGrade"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UnitPosition" ADD CONSTRAINT "UnitPosition_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UnitPosition" ADD CONSTRAINT "UnitPosition_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UnitPosition" ADD CONSTRAINT "UnitPosition_positionId_fkey" FOREIGN KEY ("positionId") REFERENCES "Position"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PositionSlot" ADD CONSTRAINT "PositionSlot_positionId_fkey" FOREIGN KEY ("positionId") REFERENCES "Position"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PositionSlot" ADD CONSTRAINT "PositionSlot_salaryGradeId_fkey" FOREIGN KEY ("salaryGradeId") REFERENCES "SalaryGrade"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PositionSlot" ADD CONSTRAINT "PositionSlot_unitPositionId_fkey" FOREIGN KEY ("unitPositionId") REFERENCES "UnitPosition"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PositionSlot" ADD CONSTRAINT "PositionSlot_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalaryGrade" ADD CONSTRAINT "SalaryGrade_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HumanResourcesLogs" ADD CONSTRAINT "HumanResourcesLogs_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HumanResourcesLogs" ADD CONSTRAINT "HumanResourcesLogs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalaryGradeHistory" ADD CONSTRAINT "SalaryGradeHistory_salaryGradeId_fkey" FOREIGN KEY ("salaryGradeId") REFERENCES "SalaryGrade"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Leave" ADD CONSTRAINT "Leave_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Announcement" ADD CONSTRAINT "Announcement_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Announcement" ADD CONSTRAINT "Announcement_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Announcement" ADD CONSTRAINT "Announcement_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Promotion" ADD CONSTRAINT "Promotion_positionId_fkey" FOREIGN KEY ("positionId") REFERENCES "Position"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Promotion" ADD CONSTRAINT "Promotion_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BirthdayNoticeResponse" ADD CONSTRAINT "BirthdayNoticeResponse_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BirthdayNoticeResponse" ADD CONSTRAINT "BirthdayNoticeResponse_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BirthdayNoticeResponse" ADD CONSTRAINT "BirthdayNoticeResponse_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Province" ADD CONSTRAINT "Province_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "Region"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Municipal" ADD CONSTRAINT "Municipal_provinceId_fkey" FOREIGN KEY ("provinceId") REFERENCES "Province"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Barangay" ADD CONSTRAINT "Barangay_municipalId_fkey" FOREIGN KEY ("municipalId") REFERENCES "Municipal"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Accomplishment" ADD CONSTRAINT "Accomplishment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccomplishmentResponse" ADD CONSTRAINT "AccomplishmentResponse_accomplishmentId_fkey" FOREIGN KEY ("accomplishmentId") REFERENCES "Accomplishment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccomplishmentResponse" ADD CONSTRAINT "AccomplishmentResponse_headId_fkey" FOREIGN KEY ("headId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserKeyPair" ADD CONSTRAINT "UserKeyPair_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Signature" ADD CONSTRAINT "Signature_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureAudit" ADD CONSTRAINT "SignatureAudit_signatureQueueRoomId_fkey" FOREIGN KEY ("signatureQueueRoomId") REFERENCES "SignatureQueueRoom"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureQueueRoom" ADD CONSTRAINT "SignatureQueueRoom_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureQueueRoom" ADD CONSTRAINT "SignatureQueueRoom_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureQueueRoomApprover" ADD CONSTRAINT "SignatureQueueRoomApprover_signatureQueueRoomId_fkey" FOREIGN KEY ("signatureQueueRoomId") REFERENCES "SignatureQueueRoom"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureQueueRoomApprover" ADD CONSTRAINT "SignatureQueueRoomApprover_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureCoor" ADD CONSTRAINT "SignatureCoor_signatureRequestId_fkey" FOREIGN KEY ("signatureRequestId") REFERENCES "SignatureRequest"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureRecord" ADD CONSTRAINT "SignatureRecord_signatureRequestId_fkey" FOREIGN KEY ("signatureRequestId") REFERENCES "SignatureRequest"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureRequest" ADD CONSTRAINT "SignatureRequest_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureRequest" ADD CONSTRAINT "SignatureRequest_toUserId_fkey" FOREIGN KEY ("toUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SignatureFile" ADD CONSTRAINT "SignatureFile_signatureRequestId_fkey" FOREIGN KEY ("signatureRequestId") REFERENCES "SignatureRequest"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdminInbox" ADD CONSTRAINT "AdminInbox_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineStorage" ADD CONSTRAINT "MedicineStorage_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET DEFAULT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineStorage" ADD CONSTRAINT "MedicineStorage_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineNotification" ADD CONSTRAINT "MedicineNotification_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineNotification" ADD CONSTRAINT "MedicineNotification_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineNotification" ADD CONSTRAINT "MedicineNotification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineStorageAccess" ADD CONSTRAINT "MedicineStorageAccess_medicineStorageId_fkey" FOREIGN KEY ("medicineStorageId") REFERENCES "MedicineStorage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineStorageAccess" ADD CONSTRAINT "MedicineStorageAccess_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineLogs" ADD CONSTRAINT "MedicineLogs_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineLogs" ADD CONSTRAINT "MedicineLogs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Medicine" ADD CONSTRAINT "Medicine_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineTransaction" ADD CONSTRAINT "MedicineTransaction_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineTransaction" ADD CONSTRAINT "MedicineTransaction_medicineStorageId_fkey" FOREIGN KEY ("medicineStorageId") REFERENCES "MedicineStorage"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineTransaction" ADD CONSTRAINT "MedicineTransaction_prescriptionId_fkey" FOREIGN KEY ("prescriptionId") REFERENCES "Prescription"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineTransaction" ADD CONSTRAINT "MedicineTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineTransactionItem" ADD CONSTRAINT "MedicineTransactionItem_medicineTransactionId_fkey" FOREIGN KEY ("medicineTransactionId") REFERENCES "MedicineTransaction"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineTransactionItem" ADD CONSTRAINT "MedicineTransactionItem_precribeMedicineId_fkey" FOREIGN KEY ("precribeMedicineId") REFERENCES "PrecribeMedicine"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineQuality" ADD CONSTRAINT "MedicineQuality_medicineStockId_fkey" FOREIGN KEY ("medicineStockId") REFERENCES "MedicineStock"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineStock" ADD CONSTRAINT "MedicineStock_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineStock" ADD CONSTRAINT "MedicineStock_medicineId_fkey" FOREIGN KEY ("medicineId") REFERENCES "Medicine"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineStock" ADD CONSTRAINT "MedicineStock_medicineStorageId_fkey" FOREIGN KEY ("medicineStorageId") REFERENCES "MedicineStorage"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineTrack" ADD CONSTRAINT "MedicineTrack_medicineId_fkey" FOREIGN KEY ("medicineId") REFERENCES "Medicine"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicineHistory" ADD CONSTRAINT "MedicineHistory_medicineId_fkey" FOREIGN KEY ("medicineId") REFERENCES "Medicine"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicinePriceTrack" ADD CONSTRAINT "MedicinePriceTrack_medicineStockId_fkey" FOREIGN KEY ("medicineStockId") REFERENCES "MedicineStock"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prescription" ADD CONSTRAINT "Prescription_barangayId_fkey" FOREIGN KEY ("barangayId") REFERENCES "Barangay"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prescription" ADD CONSTRAINT "Prescription_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prescription" ADD CONSTRAINT "Prescription_municipalId_fkey" FOREIGN KEY ("municipalId") REFERENCES "Municipal"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prescription" ADD CONSTRAINT "Prescription_provinceId_fkey" FOREIGN KEY ("provinceId") REFERENCES "Province"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prescription" ADD CONSTRAINT "Prescription_respondedByUserId_fkey" FOREIGN KEY ("respondedByUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prescription" ADD CONSTRAINT "Prescription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrescriptionAsset" ADD CONSTRAINT "PrescriptionAsset_prescriptionId_fkey" FOREIGN KEY ("prescriptionId") REFERENCES "Prescription"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrescriptionProgress" ADD CONSTRAINT "PrescriptionProgress_prescriptionId_fkey" FOREIGN KEY ("prescriptionId") REFERENCES "Prescription"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrescriptionComment" ADD CONSTRAINT "PrescriptionComment_prescriberId_fkey" FOREIGN KEY ("prescriberId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrescriptionComment" ADD CONSTRAINT "PrescriptionComment_prescriptionId_fkey" FOREIGN KEY ("prescriptionId") REFERENCES "Prescription"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrescriptionComment" ADD CONSTRAINT "PrescriptionComment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrescriptionCommentAssets" ADD CONSTRAINT "PrescriptionCommentAssets_prescriptionCommentId_fkey" FOREIGN KEY ("prescriptionCommentId") REFERENCES "PrescriptionComment"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrecribeMedicine" ADD CONSTRAINT "PrecribeMedicine_medicineId_fkey" FOREIGN KEY ("medicineId") REFERENCES "Medicine"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PrecribeMedicine" ADD CONSTRAINT "PrecribeMedicine_prescriptionId_fkey" FOREIGN KEY ("prescriptionId") REFERENCES "Prescription"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobPost" ADD CONSTRAINT "JobPost_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobPost" ADD CONSTRAINT "JobPost_positionId_fkey" FOREIGN KEY ("positionId") REFERENCES "Position"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobPost" ADD CONSTRAINT "JobPost_salaryGradeId_fkey" FOREIGN KEY ("salaryGradeId") REFERENCES "SalaryGrade"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobPostRequirements" ADD CONSTRAINT "JobPostRequirements_jobPostId_fkey" FOREIGN KEY ("jobPostId") REFERENCES "JobPost"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobPostAssets" ADD CONSTRAINT "JobPostAssets_jobPostRequirementsId_fkey" FOREIGN KEY ("jobPostRequirementsId") REFERENCES "JobPostRequirements"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationInquiry" ADD CONSTRAINT "ApplicationInquiry_jobPostId_fkey" FOREIGN KEY ("jobPostId") REFERENCES "JobPost"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineGeneralAssets" ADD CONSTRAINT "LineGeneralAssets_lineId_fkey" FOREIGN KEY ("lineId") REFERENCES "Line"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OtpVerification" ADD CONSTRAINT "OtpVerification_submittedApplicationId_fkey" FOREIGN KEY ("submittedApplicationId") REFERENCES "SubmittedApplication"("id") ON DELETE SET NULL ON UPDATE CASCADE;

